.caja-main {
    border: 1px solid #aaa;
    background-color: bisque;
    margin: 0 auto;
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
  .cajas {
    display: flex;                                   
  }
  
  .rojo, .verde, .azul {
    width: 200px;                
    height: 200px;              
    display: flex;               
    justify-content: center;     
    align-items: center;  
    color: aliceblue;       
  }
  
  .rojo {
    background-color: red;       
  }
  
  .verde {
    background-color: green;     
  }
  
  .azul {
    background-color: blue;      
  }