body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%; 
    height: 200px; 
    border: 2px solid #000; 
    background-color: bisque;
}


.verde {
    background-color: #008000;
    color: white;
}

.azul {
    background-color: blue;
    color: white;
}

.rojo {
    background-color: red;
    color: white;
}

.azul, .rojo, .verde {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}